{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block title %}{{ SITENAME }} &middot; {{ article.title }}{% endblock %}
{% block content %}
<h2 class="title">
<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permanent Link to &quot;{{ article.title }}&quot;">{{ article.title }}</a>
</a>
</h2>
{{ article.date.strftime("%b %d, %Y") }}
{{ article.content }}
{% endblock %}
